#include "resource.h"

IDR_UDF_TEMPLATE_PRT RCDATA "2p_SiBian_1.prt"
IDR_UDF_TEMPLATE_90L_PRT RCDATA "2P_SiBian_90.prt"
IDR_UDF_TEMPLATE_90R_PRT RCDATA "2P_SiBian_90R.prt"
IDR_UDF_TEMPLATE_90_JIAN_XI_CAO_PRT RCDATA "90JianXiCao.prt"
IDR_UDF_TEMPLATE_90_JIAN_XI_CAO_R_PRT RCDATA "90JianXiCaoR.prt"
