#include "resource.h"

IDR_UDF_TEMPLATE_PRT RCDATA "2p_SiBian_1.prt"
IDR_UDF_TEMPLATE_90L_PRT RCDATA "2P_SiBian_90.prt"
IDR_UDF_TEMPLATE_90R_PRT RCDATA "2P_SiBian_90R.prt"
IDR_UDF_TEMPLATE_90_JIAN_XI_CAO_PRT RCDATA "90JianXiCao.prt"
IDR_UDF_TEMPLATE_90_JIAN_XI_CAO_R_PRT RCDATA "90JianXiCaoR.prt"
IDR_FEATURE_TEMPLATE_PRT RCDATA "feature_templates\\2p_SiBian_1_FT.prt"
IDR_FEATURE_TEMPLATE_90L_PRT RCDATA "feature_templates\\2P_SiBian_90_FT.prt"
IDR_FEATURE_TEMPLATE_90R_PRT RCDATA "feature_templates\\2P_SiBian_90R_FT.prt"
IDR_FEATURE_TEMPLATE_90_JIAN_XI_CAO_PRT RCDATA "feature_templates\\90JianXiCao_FT.prt"
IDR_FEATURE_TEMPLATE_90_JIAN_XI_CAO_R_PRT RCDATA "feature_templates\\90JianXiCaoR_FT.prt"
