#include "embedded_dialog_resources.h"

IDR_ZH_DLX_PILIANZUANBANJIN_DLX RCDATA "src/PiLianZuanBanJin/PiLianZuanBanJin.dlx"
IDR_ZH_DLX_PILIANZUANBANJIN_RULES_TABLE_DLX RCDATA "src/PiLianZuanBanJin/PiLianZuanBanJinRulesTable.dlx"
